Server/StockService/Service References/Server/Server.Exceptions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginException">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoginError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginException" nillable="true" type="tns:LoginException" />
  <xs:complexType name="GenericException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericException" nillable="true" type="tns:GenericException" />
  <xs:complexType name="PermissionDeniedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionDeniedException" nillable="true" type="tns:PermissionDeniedException" />
</xs:schema>