Server/StockService/Service References/Server/Server.Serializables.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Serializables" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Serializables" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Role" type="tns:ClientRole" />
      <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientInfo" nillable="true" type="tns:ClientInfo" />
  <xs:simpleType name="ClientRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="user" />
      <xs:enumeration value="admin" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ClientRole" nillable="true" type="tns:ClientRole" />
  <xs:simpleType name="TransactionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Buy" />
      <xs:enumeration value="Sell" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransactionType" nillable="true" type="tns:TransactionType" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="OperationValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="State" type="tns:TransactionState" />
      <xs:element minOccurs="0" name="StockType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" type="tns:TransactionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:simpleType name="TransactionState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="To Perform" />
      <xs:enumeration value="Performed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransactionState" nillable="true" type="tns:TransactionState" />
</xs:schema>